.mainLeft{
    padding:280px;
    background-image: url("images/home-banner.jpg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}
.mainLeftText{
    margin-right: 50px;
    position: relative;
}
.textContainer{
    background-color: rgb(255, 255, 255);
    opacity: 0,5;
    padding-left: 10%;
}
.wrapper{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper h4{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#spanIntro::before{
    content: "";
    animation: myanimation infinite 4s;  
    text-decoration: underline; 
}
@keyframes myanimation{
    0%{
        content: "Developer";
      
    }
    100%{
        content:"Designer";
    }
}
.padding{
    padding-top: 80px;
}
.border{
    border: 1px solid lightslategray;
}
#myWork, #hireMe{
    margin-right:10px;
    color: black;
}
#myWork:hover{
    background-color:black;
    color: white;
}
#hireMe:hover{
    background-color: #d9832e;
}
.section-title{
    padding-left: 50px;
    padding-bottom: 50px;
}
#sideMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    top: 0;
    left:0;
    width: 92px;
    position:fixed;
    bottom: 0;
    border: 1px dotted lightslategray;
    z-index: 3;
}
.mob-header {
    display: none;
    position: -webkit-sticky;
    top: 0;
    right: 0;
    z-index: 3;
    left: 0;
    padding: 6px 10px;
    background: #FFFFFF;
}
.mob-header-open {
    display: inline;
    position:sticky;
    top: 0;
    right: 0;
    z-index: 3;
    left: 0;
    padding: 6px 10px;
    background: #FFFFFF;
}
ul li a>i{
    font-size: 35px;
    padding: 3px;
}
ul li a {
    display: block;
    color: #000;
    padding: 10px;
    text-decoration: none;
    font-size:small;
    text-align: center;
    text-transform: uppercase;
}
#navList li > a:hover ,:focus{
    background-color:#d9832e;
    color: white;
}
#navList li > a .active{
    background-color:  #d9832e;
}
.hiddenNav{
    display: none;
    z-index: 3;
}
.navList_hidden{
    width: 0px;
}
.navList-open{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    top: 0;
    left:0;
    width: 92px;
    position: fixed;
    bottom: 0;
    border: 1px dotted lightslategray;
    z-index: 3;
}
.navList-show{
    display: block;
    z-index: 3;
}
.show{
    display: inline-block !important;
}
.active{
    background-color:  #d9832e;
}
#SectionLast > p{
    text-transform: uppercase;
    font-size: small;
}
#SectionLast> h3{
    font-weight: 700;
    font-size: 35px;
}
.contact-form {
	border-radius: 5px;
	background: white;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.icons{
    width: 32px;
    height: 32px;
    align-items: center;
    padding: 1px;
    margin: 5px;
    background-color: #d9832e;
    color: whitesmoke;
    border-radius: 50%;
    vertical-align: middle;
}

.progress .progress-bar {
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;
}
@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}
 
.mediaParts{
    background: white;
    padding: 5px;
    width: 300px;
    margin-top: 20px;
    font-size: medium;
}
.mediaPartsFirst{
    background: white;
    padding: 10px;
    width: 300px;
}
.mySlider{
    margin-left: 10px!important;
}
.card-img {
    border-radius:0% 50% !important;
    max-width: 100%;
    padding: 2px;
}
.buttonSlider{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#option1, #option2 {
    color: antiquewhite;
    border-color: #d9832e;
}
#option3, #option4{
    color: antiquewhite;
    border-color: #d9832e;
    visibility: hidden;
}
#aboutMeImg{
    background-color: #fff;
    padding:10px;
}
.section-title-about{
    padding-left: 50px;
    padding-bottom: 20px;
}
#aboutMelabel {
    display: inline-block!important;
    margin-bottom: .5rem;
    text-align: left;
    padding-right: 30px;
    margin-right: 20px;
    width: 130px;
    border-right: 1px solid;
}
#socialNav{
    width: 60px;
    position: absolute;
    top: 23px;
    left: 20px;
    background: #ffffff;
    padding: 6px;
}
#socialNav a {
    display: block;
    text-align: center;
    width: 44px;
    height: 44px;
    font-size: 30px;
}
.customIcons{
    color: #d9832e;
}
.dataInfo label{
    border-right: 1px solid grey;
    padding: 8px;
}
.dataInfo{
    width: 45px;
}
.skills{
    margin: 10px;
}
.skill-icons{
    font-size: 35px;
    text-align: center;
    padding: 5px;
}
.card-box{
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    border: thin;
    border-color: grey;
    margin: 15px;
}
.card-body{
    padding-top: 150px;
}
.card-box:hover{
    background-color: #d9832e;
    border-color: #d9832e;
    top:-10px;
    right: -5px;
    position: relative;
    transition: ease all 0.30s;
}
.card-icon{
    text-align: center;
}
.service-icon{
    color: #d9832e ;
    border-radius: 50%;
    border-color: #d9832e ;
    border: 1px dotted #d9832e;
    font-size: 30px;
    padding: 15px;
    margin: 10px;
}
.card-box:hover .service-icon{
    color:#FFFFFF;
    border-color:#FFFFFF ;
}
.portfolio-image{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}
.photo-box{
    position: relative; 
    width: 300px;
    
}
.relative{
    position: relative;
}
.portfolio-info{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 10, 12, 0.5);
    transition: ease all 0.35s;
    opacity: 0;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    
}
.link-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}
.photo-box:hover .portfolio-info{
    opacity: 0.3;
}
.photo-box:hover  .link-overlay{
    opacity: 1;
}
.portfolioBtn{
    text-align: center;
    margin: 20px;
}
.hide {
    display: none !important;
}
.tns-controls{
    text-align: center; 
}
.tns-controls > button {
    border-radius: 50%;
    margin-bottom: 20px;
}
.contact-box{
    border-bottom: 1px solid rgb(158, 154, 154)!important;
    border-top: none;
    border-left: none;
    border-right: none;
}
.contact-box:hover {
    color: #495057;
    background-color: #fff;
    border-color: #f35307!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 94, 0, 0.795)!important;
}
.contact-box:focus{
    color: #495057;
    background-color: #fff;
    border-color: #f35307!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 94, 0, 0.795)!important;
}
}